<footer class="site-footer">
  <div class="wrapper">
    <p><a href="https://descendant.github.io" style="color: #ffffff; text-decoration: none;">Home</a> &emsp; <a href="https://descendant.github.io/about/" style="color: #ffffff; text-decoration: none;">About Descendant</a> &emsp; <a href="https://descendant.github.io/downloads/" style="color: #ffffff; text-decoration: none;">Downloads</a>
    <p class="copy">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </div>
</footer>
<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "{{ site:GoogleAnalytics }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
<amp-install-serviceworker src="{{ site.baseurl | prepend: site.url }}/sw.js" layout="nodisplay"></amp-install-serviceworker>
